body {
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightblue;
}

.navbar {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  background-color: deepskyblue;
  border-radius: 0 0 5px 5px;
}

.navbar > .navbar-item {
  text-decoration: none;
  padding: 100px;
  cursor: pointer;
}

.navbar > .books-div > .books-btn {
  padding-left: 20px;
  cursor: pointer;
}

.navbar > .books-div {
  display: flex;
  margin-left: 10px;
  margin-right: auto;
}

.cart-btn {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: 10px;
  align-self: center;
}

.cart-img {
  width: 100%;
  height: 100%;
}

.main-area {
  min-width: 0;
  min-height: 0;
  width: min(1000px, 100%);

  flex: 1;
  display: flex;
}

.book-list {
  min-height: 0;
  min-width: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  row-gap: 15px;

  padding: 15px;
  overflow-y: scroll;
}

.book-list > .book-card {
  width: 350px;
  height: 350px;

  display: flex;
  flex-wrap: wrap;
  padding: inherit;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.book-list > .book-card > .book-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 0 0;
}

.book-list > .book-card > .book-name {
  width: 100%;

  margin: 5px 0;

  font-size: 30px;
  text-align: center;
}

.book-list > .book-card > .book-description {
  width: 100%;
  padding: 5px;
}

.book-list > .book-card > .book-price {
  width: 45%;
  padding: 5px;
  margin: 10px;
}

.book-list > .book-card > .book-add-section {
  padding: 5px;
  margin: 100px;
}

.book-list > .book-card > .book-input {
  margin-left: auto;
  padding: 5px;
  width: 10px;
}

.book-list > .book-card > .book-unavailable {
  margin-left: auto;
  padding: 5px;
  font-size: 15px;
  color: red;
}

.cart-list {
  min-height: 0;
  min-width: 0;
  width: 50%;
  border-collapse: collapse;

  flex: 1;
  display: flex;
  flex-direction: column;

  font-size: 25px;
}

.cart-list > thead > .book-row {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 10px;
  background-color: aliceblue;
  border-bottom: 1px solid lightgrey;
}

.cart-list > thead > .book-row > .book-name {
  width: 50%;
}

.cart-list > thead > .book-row > .amount {
  width: 30%;
  text-align: center;
}

.cart-list > thead > .book-row > .price {
  width: 20%;
  text-align: right;
}

.cart-list > .main-row > thead > .name {
  width: 50%;
}

.cart-list > .main-row > thead > .amount {
  width: 30%;
  text-align: center;
}

.cart-list > .main-row > thead > .price {
  width: 20%;
  text-align: right;
}

.cart-list > thead > .main-row {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 10px;
}
